<div class="card col-offset-2" style="width: 70%;margin-right: 20px;">
    <p-table #dt [value]="categorias" [rows]="10" [paginator]="true" [globalFilterFields]="['id','frota','placa']" [tableStyle]="{'min-width': '40rem'}"
         [rows]="5" [showCurrentPageReport]="true"  [rowsPerPageOptions]="[5,10,20,30,50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    
        <ng-template pTemplate="header">
            <tr>
               
                <th  style="min-width:120px">Nome</th>
                <th  style="min-width:10rem">Descrição</th>
                
                
                <th style="text-align: center;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categorias>
            <tr>
               
                <td>{{categorias.nome}}</td>
                <td>{{categorias.descricao}}</td>
               

                <td style="text-align: center;">
                    <button (click)="editCategoria(categorias.idCategoria, categorias)" pButton pRipple class="p-button-raised p-button-text p-button-secondary mr-2" ><img style="width: 20px;" src="../../../assets/icones_png/editar.png"></button>
                    <button (click)="delete(categorias.id, categorias)" pButton pRipple class="p-button-raised p-button-text p-button-warning" ><img style="width: 20px;" src="../../../assets/icones_png/excluir.png"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                <!-- In total there are {{chamados ? chamados.length : 0 }} products. -->
            </div>
        </ng-template>
    </p-table>
</div>
 <p-dialog [(visible)]="categoriaDialog" [style]="{width: '450px'}" header="Editar Categoria" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       
        <div class="field">
            <label for="nome">Nome</label>
            <input type="text" pInputText id="nome" [(ngModel)]="categoria.nome" required autofocus />
            <small class="p-error" *ngIf="submitted && !categoria.nome">Categoria é necessário!</small>
        </div>
        <div class="field">
            <label for="descricao">Descrição</label>
            <input type="text" pInputText id="descricao" [(ngModel)]="categoria.descricao" required autofocus />
            <small class="p-error" *ngIf="submitted && !categoria.descricao">Descrição é necessário!</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton  label="Cancelar" icon="pi pi-times" (click)="hideDialog()" class="p-button-raised p-button-text p-button-danger"></button>
        <button pButton  label="Salvar" icon="pi pi-check" (click)="salvar()"  class="p-button-raised p-button-text p-button-secondary"></button>
    </ng-template>
</p-dialog> 

<p-dialog [(visible)]="categoriaDeleteDialog" [style]="{width: '450px'}" header="Excluir perfil" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="name">Deseja excluir o perfil selecionado?</label>
            <input type="text" style="text-align: center;font-weight: bolder;color: black;" pInputText id="name" [(ngModel)]="categoria.nome" autofocus disabled="true" />

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-text p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" (click)="deletar(categoria.idCategoria)" class="p-button-raised p-button-text p-button-secondary"></button>
    </ng-template>
</p-dialog>