<!-- <p-dialog [(visible)]="categoriaDialog" [style]="{width: '450px'}" header="Editar Categoria" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       
        <div class="field">
            <label for="nome">Nome</label>
            <input type="text" pInputText id="nome" [(ngModel)]="categoria.nome" required autofocus />
            <small class="p-error" *ngIf="submitted && !categoria.nome">Categoria é necessário!</small>
        </div>
        <div class="field">
            <label for="descricao">Descrição</label>
            <input type="text" pInputText id="descricao" [(ngModel)]="categoria.descricao" required autofocus />
            <small class="p-error" *ngIf="submitted && !categoria.descricao">Descrição é necessário!</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" (click)="hideDialog()" class="p-button-text"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" (click)="salvar()"  class="p-button-text"></button>
    </ng-template>
</p-dialog>  -->